*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Barlow', sans-serif;
    font-family: 'Roboto', sans-serif;;
}

body{
    background-color: #F6F8F9;
}

header{
    padding: 20px;
    margin-bottom: 20px;
}

.background-white{
    background-color: white;
}

.container{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
}

#main-logo, h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
}

.main-buttons, .main-container{
    padding: 10px 50px;
}

.button {
    font-size: 13px;
    text-align: center;
    padding: 7px 12px;
    border-radius: 5px;
}
.add-task, .editorial-button{
    border: #F6F8F9;
    background-color: #47ADF1;
    color: white;
}

.add-section{
    border: 1px solid lightgrey;
    background-color: #ffffff;
    color: lightgrey;
}

span, h2, h3{
    display: inline-block;
}

.first-section-main{
    padding-top: 20px;
}

.title-list, .to-do-list{
    padding-bottom: 10px;
    line-height: 25px;
}

.check{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    color: black;
    text-align: center;
}

.done{
    border: 1px solid green;
    color: green;
}

.not-done{
    border: 1px solid red;
    color: red;
}

.second-section-main, .third-section-main{
    padding-top: 20px;
}

span button{
    font-size: 10px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.goals-button{
    background-color: #9C72E4;
    border: 1px solid lightgrey;
    color: white;
}

.recruiting-button{
    background-color: #64C0A9;
    border: 1px solid lightgrey;
    color: white;
}

.mobile-button{
    background-color: #F29E33;
    border: 1px solid lightgrey;
    color: white;
}

.website-button{
    background-color: #D863A1;
    border: 1px solid lightgrey;
    color: white;
}

.sales-button{
    background-color: #B0C926;
    border: 1px solid lightgrey;
    color: white;
}